
$lightBlue: rgb(211, 224, 236);

.contact-info {
  display: flex;
  color: $lightBlue;
  section {
    flex: 1;
    padding: 15px;
    font-size: 14px;
    .address {
      text-decoration: underline;
      display: block;
    }
  }
}
