
$lightBlue: rgb(211, 224, 236);
$mediumBlue: linear-gradient(to right, rgb(83, 83, 90), rgb(201, 232, 253));
$darkBlue: linear-gradient(to right, rgb(9, 78, 18), rgb(0, 109, 182));
$darkerBlue: #7fafdd;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.app {
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px $lightBlue;
  border-radius: 1%;
}

.up {
  background: $lightBlue;
  flex: 1;
  color: $darkBlue;
  overflow: hidden;
  h2 {
    height: 30px;
    text-align: center;
  }
}
.contacts-container {
  height: 250px;
  overflow: auto;  
  border-radius: 1%;
}
.contact {
  border-top: solid 1px $darkerBlue;
  background: $lightBlue;
  height: 50px;
  width: 480px;
  padding: 8px;
  border-radius: 1%;
  cursor: pointer;
  .name {
    margin-left: 10px;
    min-width: 50px;
  }
}
.down {
  background: $darkBlue;
  height: 150px;
}
